.cabecalho {
    background-color: #858163;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}

.cabecalho-imagem{
    min-width: 8%;
    width: 6%;


}
.cabecalho-lista-item{
    display: inline-block;
    margin: 10px 10px;
    font-size: 20px;
}



.imagens-buque{
background-color: rgb(134, 133, 123);
display: flex;
align-items: center;

}
.img1{
    height: 30%;
    width: 30%;

}

.img2{
    height: 30%;
    width: 30%;
padding:0px 0 0 70% ;
}

