.cabecalho {
    background-color: #d482c0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    min-width: 10%;
    width: 8%;


}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
