.cabecalho {
    background-color: #d6bdd0;
    color: rgb(111, 84, 128);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}

.cabecalho-imagem{
    min-width: 8%;
    width: 6%;


}
.cabecalho-lista-item{
    display: inline-flexbox;
    margin: 0 10px;
    font-size: 20px;
}
